<div [class]="'theme-wrapper ' + (theme$ | async)">
  <div class="container">
    <mat-toolbar color="warn">{{ theme$ | async }}</mat-toolbar>

    <form>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput
               type="password">
        <mat-icon matSuffix color="accent">lock</mat-icon>
      </mat-form-field>
      <div>
        <mat-checkbox>Check me!</mat-checkbox>
      </div>
    </form>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid asperiores beatae cupiditate dolorum eius
      eligendi excepturi illum incidunt nemo neque possimus ratione, rerum soluta voluptas. Adipisci assumenda aut,
      culpa deserunt facere id laborum molestiae nisi nobis, obcaecati omnis perferendis quam, quas saepe ullam velit
      voluptatum? Consectetur deserunt iusto laborum laudantium nemo porro quia similique totam. Accusamus, adipisci
      aspernatur consequuntur, delectus dolor dolorem earum ex facilis fuga harum hic, id labore nesciunt nobis non
      nostrum perspiciatis praesentium quaerat quidem ratione recusandae repudiandae saepe sit soluta sunt tempore
      tenetur velit! A aut inventore neque nesciunt nihil quas reprehenderit tempora velit vitae.</p>

    <button mat-raised-button
            (click)="blackTheme()">
      BlackTheme
    </button>
    <button mat-raised-button
            (click)="whiteTheme()">
      WhiteTheme
    </button>
  </div>
</div>
