@import '~@angular/material/theming';

.container {
  padding: 20px;
}

@mixin my-app-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .container {
    background-color: mat-color($primary);
    color: mat-color($primary, darker);
  }
}
